In [1]:
#importing the faker library to generate the data
#pip install faker
from faker import Faker
#We want the data to be generated that is relevant for India
fake = Faker('en_IN')

In [2]:
#importing pandas
import pandas as pd
import random
import datetime as dt
from datetime import datetime, timedelta

In [3]:
import psycopg2

#establishing the connection
conn = psycopg2.connect(
   database="mydb", user='root', password='Ashu@123', host='34.172.0.224', port= '5432'
)

In [4]:
id1 = pd.read_sql(f'''select count(*) from customer_master ''',conn)

C:\Users\ashutoshkumar.singh\AppData\Local\Temp\ipykernel_8568\3040458149.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  id1 = pd.read_sql(f'''select count(*) from customer_master ''',conn)

In [5]:
val = id1['count'][0]

## Customer_master Table

In [6]:
#defining the fields of the Customer_master Table
customer_fields= ['customerid', 'name', 'address', 
                  'city', 'state', 'pincode', 'update_timestamp']

In [7]:
#dictionary with list of states and cities
states = {
           'Odisha'         : ['Rourkela', 'Bhubaneshwar'],
           'Karnataka'      : ['Bengaluru', 'Mangaluru', 'Mysuru', 'Kolar'],
           'Uttar Pradesh'  : ['Agra', 'Lucknow', 'Mathura', 'Muzaffarnagar', 'Varanasi'],
           'Gujarat'        : ['Bhuj', 'Rajkot', 'Surat'],
           'Madhya Pradesh' : ['Balaghat', 'Bhopal', 'Gwalior'],
           'Punjab'         : ['Amritsar', 'Chandigarh', 'Ludhiana']
    
}
# Total 6 states and 20 cities

In [8]:

Customer_master = pd.DataFrame(columns=customer_fields,index=range(1,1001))

Faker.seed(10)

val+=1
for i in range(1,1001):
    Customer_master['customerid'][i] = val
    val+=1
    
#     customer_name is generated 
    Customer_master['name'][i] = fake.name()
    
#     customer_address is generated
    Customer_master['address'][i] = fake.street_address()
    
#     state being generated randomly from the states dictionary
    Customer_master['state'][i] = fake.random_element(states.keys())
    
#     city being generated from the dictionary
    Customer_master['city'][i] = fake.random_element(states[Customer_master['state'][i]])
    
#     postcode generated from the cities
    Customer_master['pincode'][i] = fake.postcode()
    
#     timestamp from this year
    Customer_master['update_timestamp'][i] = dt.datetime.today()+timedelta(seconds=fake.random_int(min=1, max=86400))

## Order_details Table

In [9]:
# pip install timedelta

In [10]:
from datetime import datetime, timedelta

In [11]:
order_details_fields = ['orderid','customerid','order_status_update_timestamp','order_status']

In [12]:
orders_Received = pd.DataFrame(columns=order_details_fields, index = range(1,5001))
orders_InProgress = pd.DataFrame(columns=order_details_fields, index = range(1,5001))
orders_Delivered = pd.DataFrame(columns=order_details_fields, index = range(1,5001))
val = id1['count'][0]

In [13]:
id1 = pd.read_sql(f'''select count(*) from order_details''',conn)

C:\Users\ashutoshkumar.singh\AppData\Local\Temp\ipykernel_8568\4277416105.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  id1 = pd.read_sql(f'''select count(*) from order_details''',conn)

In [14]:
val = id1['count'][0]//3
val+=1 
#for order status recieved
for i in range(1, 5001):
    orders_Received['orderid'][i] = val
    orders_Received['customerid'][i] = fake.random_element(Customer_master['customerid'])
    orders_Received['order_status_update_timestamp'][i] = dt.datetime.today()+timedelta(seconds=fake.random_int(min=1, max=86400))
    orders_Received['order_status'] = 'Received'
    val+=1

#for order status InProgress
val = id1['count'][0]//3
val+=1
for i in range(1, 5001):
    orders_InProgress['orderid'][i] = val
    orders_InProgress['customerid'][i] = orders_Received['customerid'][i]
    orders_InProgress['order_status_update_timestamp'][i] = orders_Received['order_status_update_timestamp'][i]
    orders_InProgress['order_status'] = 'InProgress'
    val+=1

#for order status Delivered
val = id1['count'][0]//3
val+=1
for i in range(1, 5001):
    orders_Delivered['orderid'][i] = val
    orders_Delivered['customerid'][i] = orders_Received['customerid'][i]
    orders_Delivered['order_status_update_timestamp'][i] = orders_InProgress['order_status_update_timestamp'][i]
    orders_Delivered['order_status'] = 'Delivered'
    val+=1

In [15]:
#concat the dataframes
order_details = pd.concat([orders_Received, orders_InProgress, orders_Delivered], axis=0)

In [16]:
order_details = order_details.sort_values(by=['orderid'])

In [17]:
order_details.head(10)

  orderid customerid order_status_update_timestamp order_status
1   25001       1393    2023-10-11 13:04:52.595800     Received
1   25001       1393    2023-10-11 13:04:52.595800   InProgress
1   25001       1393    2023-10-11 13:04:52.595800    Delivered
2   25002       1191    2023-10-11 09:41:09.595800     Received
2   25002       1191    2023-10-11 09:41:09.595800   InProgress
2   25002       1191    2023-10-11 09:41:09.595800    Delivered
3   25003       1001    2023-10-11 03:17:22.595800     Received
3   25003       1001    2023-10-11 03:17:22.595800   InProgress
3   25003       1001    2023-10-11 03:17:22.595800    Delivered
4   25004       1380    2023-10-11 12:56:04.595800     Received

In [18]:
order_details.dtypes

orderid                          object
customerid                       object
order_status_update_timestamp    object
order_status                     object
dtype: object

In [19]:
order_details['orderid'] = order_details['orderid'].astype(int)
order_details['customerid'] = order_details['customerid'].astype(int)

In [20]:
order_details.dtypes

orderid                           int32
customerid                        int32
order_status_update_timestamp    object
order_status                     object
dtype: object

## Order_items

In [21]:
order_items = pd.DataFrame(columns = ['orderid','productid','quantity'])

In [22]:
#because we've 5000 order_id

order_id =[]
productid = []
qnty = []
val = id1['count'][0]//3
for i in range(1,5001):
    #we can have 50 product_ids
    val+=1
    x = list(range(1, 51))
    #we can have 1 or 2 orders per order_id
    for j in range(0, random.randint(1,2)):
        order_id.append(val)
        productid.append(random.choice(x))
        qnty.append(random.randint(1,5))
        
order_items = pd.DataFrame(list(zip(order_id,productid,qnty)),columns=['orderid','productid','quantity'])

In [23]:
order_items.sort_values(by=['orderid'])

      orderid  productid  quantity
0       25001         39         4
1       25001         37         3
2       25002         22         1
3       25003         25         2
4       25004          6         4
...       ...        ...       ...
7480    29998         34         3
7481    29998         43         5
7483    29999         11         5
7482    29999         28         4
7484    30000         37         3

[7485 rows x 3 columns]

In [24]:
order_items.head(10)

   orderid  productid  quantity
0    25001         39         4
1    25001         37         3
2    25002         22         1
3    25003         25         2
4    25004          6         4
5    25005         30         1
6    25006         20         5
7    25006         28         1
8    25007         47         3
9    25008          9         1

In [25]:
order_items.dtypes

orderid      int64
productid    int64
quantity     int64
dtype: object

In [26]:
# pip install psycopg2

In [27]:
import psycopg2

#establishing the connection
conn = psycopg2.connect(
   database="mydb", user='root', password='Ashu@123', host='34.172.0.224', port= '5432'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

In [28]:
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("postgresql://root:Ashu%40123@34.172.0.224/mydb")

In [29]:
# order_details.to_sql('order_details', con = engine, if_exists = 'append', chunksize=100, index=False)

In [30]:
# order_items.to_sql('order_items', con = engine, if_exists = 'append', chunksize=100, index=False)